/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#ifndef KEYMAP_DRAWER
#include "keys_de.h"
#endif

/*
 * DE_ Key Reference (requires host OS set to German keyboard layout)
 *
 * Default Layer:
 *   &kp SEMI   -> &kp DE_O_UMLAUT   ö
 *   &kp SQT    -> &kp DE_A_UMLAUT   ä
 *   &kp FSLH   -> &kp DE_MINUS      - (auf DE liegt - auf der /-Taste)
 *
 * Symbol Layer:
 *   &kp AT     -> &kp DE_AT         @  (RA+Q)
 *   &kp LBKT   -> &kp DE_LBKT       [  (RA+8)
 *   &kp RBKT   -> &kp DE_RBKT       ]  (RA+9)
 *   &kp BSLH   -> &kp DE_BSLH       \  (RA+ß)
 *   &kp LBRC   -> &kp DE_LBRC       {  (RA+7)
 *   &kp RBRC   -> &kp DE_RBRC       }  (RA+0)
 *   &kp PIPE   -> &kp DE_PIPE       |  (RA+<)
 *   &kp TILDE  -> &kp DE_TILDE      ~  (RA+])
 *   &kp CARET  -> &kp DE_CARET      ^  (^-Taste, kein Shift)
 *   &kp GRAVE  -> &kp DE_GRAVE      `  (Shift+=)
 *
 * Noch nicht platziert:
 *   &kp DE_U_UMLAUT   ü
 *   &kp DE_SHARP_S    ß
 */

  /* <> */
/ {
    chosen {
        zmk,physical-layout = &default_layout;
    };
};
/ {
    combos {
      compatible = "zmk,combos";
      combo_sys {
        timeout-ms = <50>;
        key-positions = <37 40>;
        bindings = <&mo 3>;
      };
    };
  };
/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTZ";
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |          | Z   |  U  |  I  |  O  |  P  | BSPC  |
            // | ESC  |  A  |  S  |  D  |  F  |  G  |          |  H  |  J  |  K  |  L  |  +  |  CTRL |
            // | SHFT |  Y  |  X  |  C  |  V  |  B  |          |  N  |  M  |  ,  |  .  |  -  | SHIFT |
            //                    | GUI | LWR | SPC |          | ENT | RSE | ALT |
            bindings = <
                &kp TAB   &kp Q             &kp W          &kp E  &kp R &kp T     &kp DE_Z &kp U  &kp I     &kp O          &kp P              &kp BSPC
                &kp ESC   &mt LSHIFT DE_A   &mt LCTRL DE_S &kp D  &kp F &kp G     &kp H    &kp J  &kp K     &mt RCTRL DE_L &mt RSHIFT DE_PLUS &kp RCTRL
                &kp LSHFT &kp DE_Y &kp X    &kp C          &kp V &kp B            &kp N    &kp M  &kp COMMA &kp DOT        &kp FSLH           &kp RSHIFT
                                            &kp LGUI       &mo 1 &kp SPACE        &kp RET  &mo 2  &kp RALT
            >;
        };

        lower_layer {
            display-name = "NUMBER";
            // |  TAB |  1  |  2  |  3  |  4  |  5  |          |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | CTRL | BT1 | BT2 | BT3 | BT4 | BT5 |          | LFT | DWN |  UP | RGT |     |      |
            // | SHFT | BTCL| RGB | RST |BOOT |UNLCK|          |     |     |     |     |     |      |
            //                    | GUI |     | SPC |          | GUI |     | ALT |
            bindings = <
                &kp TAB   &kp N1       &kp N2          &kp N3       &kp N4       &kp N5         &kp N6   &kp N7   &kp N8 &kp N9   &kp N0  &kp BSPC
                &kp LCTRL &bt BT_SEL 0 &bt BT_SEL 1    &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &kp RCTRL
                &kp LSHFT &bt BT_CLR   &rgb_ug RGB_TOG &sys_reset   &bootloader  &studio_unlock &trans   &trans   &trans &trans    &trans &kp RSHIFT
                                                       &kp LGUI     &trans       &kp SPACE      &kp RET  &trans   &kp RALT
            >;
        };

        raise_layer {
            display-name = "SYMBOL";
            // | TAB  |  !  |  "  |  §  |  $  |  %  |          |  &  |  /  |  (  |  )  |  =  |  BSPC  |
            // | ESC  |  [  |  ]  |  ^  |  \  |  ~  |          |  ß  |  ´  |  €  |  +  |  #  |  CTRL  |
            // | SHFT |  <  |  >  |  {  |  }  | '|' |          |  ?  |  `  |  @  |  *  |  '  |  SHIFT |
            // neues layout:
            // | TAB  |  §  |  ^  |  ´  |  {  |  }  |          |  ]  |  [  |  "  | '|' |  _  |  BSPC  |
            // | ESC  |  $  |  =  |  %  |  /  |  ~  |          |  &  |  ?  |  !  |  +  |  #  |  CTRL  |
            // | SHFT |  €  |  \  |  `  |  (  |  )  |          |  >  |  <  |  '  |  *  |  @  |  SHIFT |
            //                    | GUI |     | SPC |          | ENT |     | ALT |
            bindings = <
                &kp TAB   &kp DE_SECT &kp DE_CARET &kp DE_ACUTE &kp DE_LBRC &kp DE_RBKT      &kp DE_LBKT &kb DE_RBKT  &kp DE_DQT  &kp DE_PIPE  &kp DE_UNDER &kp BSPC
                &kp LCTRL &kp DE_DLLR &kp DE_EQUAL &kp DE_PRCNT &kp DE_FSLH &kp DE_TILDE     &kp DE_AMPS &kp DE_QMARK &kp DE_EXCL &kp DE_PLUS  &kp DE_HASH  &kp RCTRL
                &kp LSHFT &kp DE_EURO &kp DE_BSLH  &kp DE_GRAVE &kp DE_LPAR &kp DE_RPAR      &kp DE_GT   &kp DE_LT    &kp DE_APOS &kp DE_ASTRK &kp DE_AT    &kp RSHIFT
                                                   &kp LGUI     &trans      &kp SPACE        &kp RET     &trans       &kp RALT
            >;
            //    |  (       |         )    
            //    &kp DE_LPAR &kp DE_RPAR   
            //    |  \        |  ß         |    €                
            //    &kp DE_BSLH &kp DE_SZ     &kp DE_EURO 
            //  |  <         |  >      |  `          |  @        |  *        |  '  
            //  &kp DE_LT   &kp DE_GT  &kp DE_GRAVE &kp DE_AT   &kp DE_ASTRK &kp DE_APOS 


            //    |   !        |        "  |          §  |  $        |  %            |  &          |  /         |  (       |         )  |   =  
            //    &kp DE_EXCL &kp DE_DQT  &kp DE_SECT  &kp DE_DLLR &kp DE_PRCNT     &kp DE_AMPS  &kp DE_FSLH  &kp DE_LPAR &kp DE_RPAR  &kp DE_EQUAL 
            //   |  [         |   ]        |  ^          |  \        |  ~            |  ß         |  ´          |  €        |  +        |  #  
            //   &kp DE_LBKT &kp DE_RBKT &kp DE_CARET &kp DE_BSLH &kp DE_TILDE     &kp DE_SZ    &kp DE_ACUTE &kp DE_EURO &kp DE_PLUS  &kp DE_HASH 
            //  |  <         |  >         |  {          |  }        | '|'           |  ?         |  `          |  @        |  *        |  '  
            //  &kp DE_LT   &kp DE_GT   &kp DE_LBRC  &kp DE_RBRC &kp DE_PIPE      &kp DE_QMARK &kp DE_GRAVE &kp DE_AT   &kp DE_ASTRK &kp DE_APOS 
        };

        extra_layer_1 {
            display-name = "EXTRA 1";
            bindings = <
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &kp DE_EXCL &trans  &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                                     &trans &trans &trans  &trans &trans &trans
            >;
        };

        extra_layer_2 {
            display-name = "EXTRA 2";
            bindings = <
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                                     &trans &trans &trans  &trans &trans &trans
            >;
        };

        extra_layer_3 {
            display-name = "EXTRA 3";
            bindings = <
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                                     &trans &trans &trans  &trans &trans &trans
            >;
        };

        extra_layer_4 {
            display-name = "EXTRA 4";
            bindings = <
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                                     &trans &trans &trans  &trans &trans &trans
            >;
        };

        extra_layer_5 {
            display-name = "EXTRA 5";
            bindings = <
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                                     &trans &trans &trans  &trans &trans &trans
            >;
        };

        extra_layer_6 {
            display-name = "EXTRA 6";
            bindings = <
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                                     &trans &trans &trans  &trans &trans &trans
            >;
        };
    };
};
